.title{
    font-family: "Plus Jakarta Sans" !important;
    font-size: clamp(2.625rem, 1.2857rem + 3.5714vw, 4rem);
    font-weight: 800 !important;
}
.txt{
    color:white;
    text-align: center;
}

.paragraph{
    font-size: 32px;
}
.textSnip{
    color: #3299FC ;
}
input{
    color: blanchedalmond !important;
    font-size: large !important;
}
